
body {
    background-color: chocolate;
}

#sectionText{
    color: chartreuse;
    margin: 40px;
    padding: 40px;
    border-width: 20px;
    border-style: dashed;
}

div {
    color:blueviolet
}

.classSection{
    color:#333;
    font-family: monospace;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

article{
    text-align: end;
    color: aquamarine;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}